In [1]:
import pandas as pd
import numpy as np

In [6]:
flights = pd.read_csv('flights.csv')

In [46]:
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,first_dep_time,total_add_gtime,longest_add_gtime
0,2019-02-20,AA,AA,AA,563,AA,N283AY,563,14100,PHL,...,0,N,107,125.0,87.0,1,449,NaN,NaN,NaN
1,2019-02-20,AA,AA,AA,589,AA,N914UY,589,14100,PHL,...,0,N,341,366.0,312.0,1,2176,NaN,NaN,NaN
2,2019-02-20,AA,AA,AA,1713,AA,N945UW,1713,14100,PHL,...,0,N,74,137.0,62.0,1,268,NaN,NaN,NaN
3,2019-02-20,DL,DL_CODESHARE,DL,5310,9E,N926XJ,5310,10397,ATL,...,0,N,58,70.0,36.0,1,152,NaN,NaN,NaN
4,2019-02-20,DL,DL_CODESHARE,DL,5318,9E,N920XJ,5318,11618,EWR,...,0,N,189,NaN,NaN,1,1008,NaN,NaN,NaN

In [8]:
flights.shape

(10000, 42)

In [9]:
flights.columns.values

array(['fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier',
       'tail_num', 'op_carrier_fl_num', 'origin_airport_id', 'origin',
       'origin_city_name', 'dest_airport_id', 'dest', 'dest_city_name',
       'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out', 'wheels_off',
       'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time', 'arr_delay',
       'cancelled', 'cancellation_code', 'diverted', 'dup',
       'crs_elapsed_time', 'actual_elapsed_time', 'air_time', 'flights',
       'distance', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'first_dep_time',
       'total_add_gtime', 'longest_add_gtime', 'no_name'], dtype=object)

In [15]:
flights = flights.drop(columns=['no_name','dup'])

In [43]:
flights_delays = flights[['arr_delay','dep_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']]

In [44]:
flights_delays.head()

,arr_delay,dep_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,10.0,-8.0,NaN,NaN,NaN,NaN,NaN
1,26.0,1.0,1.0,0.0,25.0,0.0,0.0
2,64.0,1.0,1.0,0.0,63.0,0.0,0.0
3,632.0,620.0,0.0,620.0,12.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
flights = flights.drop(columns = ['arr_delay','dep_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay'])

In [16]:
flights.describe()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,...,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9801.000000,9798.000000,9787.000000,9787.000000,9782.000000,...,10000.0,10000.000000,2013.000000,2013.000000,2013.000000,2013.000000,2013.000000,81.000000,81.000000,81.000000
mean,2715.669100,2715.511300,12669.183400,12663.812000,1330.188900,1334.850219,11.559910,17.671503,1357.576683,1451.296974,...,1.0,773.692100,19.628912,3.725286,16.014903,0.073522,28.114754,1331.234568,37.666667,36.777778
std,1856.068636,1855.953046,1519.530141,1526.395375,495.804906,511.777930,46.587201,10.651968,514.405123,543.063261,...,0.0,592.103684,58.274893,26.759728,38.124245,1.262929,51.877994,513.899243,35.783376,35.342609
min,1.000000,1.000000,10135.000000,10135.000000,5.000000,1.000000,-34.000000,3.000000,1.000000,1.000000,...,1.0,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,151.000000,1.000000,1.000000
25%,1131.000000,1131.000000,11292.000000,11292.000000,905.000000,908.000000,-5.000000,11.000000,927.000000,1035.000000,...,1.0,341.000000,0.000000,0.000000,0.000000,0.000000,0.000000,917.000000,14.000000,14.000000
50%,2280.000000,2280.000000,12889.000000,12889.000000,1324.500000,1326.000000,-2.000000,15.000000,1339.000000,1450.000000,...,1.0,605.000000,0.000000,0.000000,3.000000,0.000000,2.000000,1339.000000,26.000000,26.000000
75%,4376.250000,4375.000000,14057.000000,14057.000000,1741.000000,1750.000000,8.000000,21.000000,1807.000000,1913.000000,...,1.0,1008.000000,18.000000,0.000000,19.000000,0.000000,36.000000,1753.000000,48.000000,43.000000
max,9391.000000,9391.000000,16869.000000,16869.000000,2359.000000,2400.000000,1119.000000,153.000000,2400.000000,2400.000000,...,1.0,4817.000000,1118.000000,620.000000,997.000000,29.000000,687.000000,2339.000000,154.000000,154.000000

In [41]:
flights['dup'].unique()

array(['N'], dtype=object)

In [31]:
passengers = pd.read_csv('passengers.csv')

In [32]:
passengers.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,4,74880,276,244,0,0,1211,666,570,...,US,United States,6,677,1,2015,12,3,F,DU
1,0,1,18720,69,58,0,0,599,114,95,...,US,United States,6,677,1,2015,12,2,F,DU
2,0,28,837200,3080,2646,265,0,714,3102,2596,...,US,United States,6,608,1,2015,12,2,F,DU
3,0,1,40670,160,126,0,0,259,64,37,...,US,United States,6,614,1,2015,12,1,F,DU
4,0,12,534890,2088,1828,0,0,2308,0,0,...,CA,Canada,6,614,1,2015,2,5,F,IF

In [33]:
passengers.columns.values

array(['departures_scheduled', 'departures_performed', 'payload', 'seats',
       'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp',
       'air_time', 'unique_carrier', 'airline_id', 'unique_carrier_name',
       'region', 'carrier', 'carrier_name', 'carrier_group',
       'carrier_group_new', 'origin_airport_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_country',
       'origin_country_name', 'dest_airport_id', 'dest_city_market_id',
       'dest', 'dest_city_name', 'dest_country', 'dest_country_name',
       'aircraft_group', 'aircraft_type', 'aircraft_config', 'year',
       'month', 'distance_group', 'class', 'data_source'], dtype=object)

In [ ]:
passengers = passengers.drop(columns=['origin_city_market_id','dest_country_name','dest_city_market_id','unique_carrier_name','dest_city_name','origin_country_name'])

In [40]:
passengers['class'].unique()

array(['F', 'L', 'P', 'G'], dtype=object)

In [36]:
passengers.describe()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,origin_airport_id,origin_city_market_id,dest_airport_id,dest_city_market_id,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group
count,10000.000000,10000.000000,1.000000e+04,10000.00000,10000.000000,1.000000e+04,1.000000e+04,10000.00000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,19.276500,21.902700,8.276024e+05,2471.48190,2019.518600,1.057203e+05,2.901451e+03,1046.37230,2719.407000,2255.949000,...,12803.050400,32092.242300,12808.629600,32102.130100,5.44880,599.877100,1.252000,2017.207300,6.543500,2.644800
std,38.202508,36.042427,1.566147e+06,4996.13305,4144.864917,5.924800e+05,2.431555e+04,1276.74609,5370.910816,4680.171861,...,1632.732039,1544.382097,1613.783648,1546.147771,1.65682,177.516052,0.578731,1.922055,3.451652,2.521124
min,0.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000e+00,0.000000e+00,0.00000,0.000000,0.000000,...,10008.000000,30007.000000,10005.000000,30005.000000,0.00000,10.000000,1.000000,2015.000000,1.000000,1.000000
25%,0.000000,1.000000,3.549500e+04,32.00000,5.750000,0.000000e+00,0.000000e+00,265.00000,101.000000,78.000000,...,11298.000000,30852.000000,11298.000000,30852.000000,6.00000,614.000000,1.000000,2015.000000,4.000000,1.000000
50%,3.000000,8.000000,2.133900e+05,350.00000,252.000000,0.000000e+00,0.000000e+00,651.00000,527.000000,427.000000,...,12892.000000,31703.000000,12892.000000,31703.000000,6.00000,631.000000,1.000000,2018.000000,7.000000,2.000000
75%,26.000000,29.000000,1.003400e+06,3026.00000,2399.000000,3.780250e+03,0.000000e+00,1218.00000,3328.500000,2637.000000,...,14100.000000,33192.000000,14100.000000,33195.000000,6.00000,694.000000,1.000000,2019.000000,10.000000,3.000000
max,811.000000,810.000000,4.160200e+07,103680.00000,67886.000000,3.679814e+07,1.206850e+06,8513.00000,101467.000000,93280.000000,...,16858.000000,36812.000000,16668.000000,36651.000000,8.00000,889.000000,4.000000,2019.000000,12.000000,18.000000